<!-- Header -->
<div class="bg-img">
<nav class="main-navigation p-4" style="background-color:transparent;">
    <div class="navbar-header animated fadeInUp">
        <a class="navbar-brand p-4" routerLink="" style="font-family: 'Great Vibes', cursive; font-size: 45px;">Currency
            Converter</a>
    </div>
    <ul class="nav-list">
        <li class="nav-list-item">
            <a href="#" class="nav-link">Home</a>
        </li>
        <li class="nav-list-item">
            <a href="#" class="nav-link">About Us</a>
        </li>
        <li class="nav-list-item">
            <a href="#" class="nav-link">Blog</a>
        </li>
        <li class="nav-list-item">
            <a href="#" class="nav-link">Works</a>
        </li>
        <li class="nav-list-item">
            <a href="#" class="nav-link">Contact</a>
        </li>
    </ul>
</nav>

<!-- CONTENT SECTION -->
<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <div class="container">
            <div class="card shadow ">
                <p>currency Converter</p>
                <div class="input-container">
                    <input type="text" id="input"  [(ngModel)]="amount"  required="" placeholder="Amount">
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="form-group">
                                <select type="option" #from (change)="getflag(from.value, to.value)"   name="From" id="password" class="form-control input-sm" id="country1">
                                    <option *ngFor="let curr of currto" [value]="curr" [selected]="curr == 'AED'" >{{curr}}</option>
                                    {{curr}}
                                </select>   
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="form-group">
                                <select type="text" #to (change)="getflag(from.value, to.value)"   name="To" id="password_confirmation" class="form-control input-sm" id="country2">
                                    <option *ngFor="let curr of currto" [value]="curr" [selected]="curr == 'INR'">{{curr}}</option>
                                    {{curr}}
                                </select>
                            </div>
                        </div>
                    </div>
                    <button class="shadow" (click)="currencyconverter(from.value,to.value)">Convert</button>
                    <div class="text">
                        <b class="text-center" id="result">{{result}}</b>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3"></div>
</div>

</div>
<!-- footer -->

<footer class="text-center text-lg-start bg-light text-muted ">
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: #174e86; color: white;">
      © 2021 Copyright:
      <a class="h5" routerLink="" style="color: white;">CurrencyConverter.com</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
