@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Big+Shoulders+Inline+Display:wght@500;700;900&family=Bodoni+Moda:opsz,wght@6..96,400;6..96,500;6..96,600;6..96,700;6..96,800;6..96,900&family=Bree+Serif&family=Bungee+Spice&family=Cherry+Bomb+One&family=Cormorant:wght@700&family=Dancing+Script:wght@600&family=Dosis:wght@500&family=Foldit&family=Great+Vibes&family=Grechen+Fuemen&family=Instrument+Serif:ital@0;1&family=Josefin+Slab:wght@300;700&family=Kalam&family=Miltonian&family=Miltonian+Tattoo&family=Mogra&family=Moirai+One&family=Monomaniac+One&family=Oi&family=Parisienne&family=Poppins:wght@300;400&family=Rajdhani:wght@500;600;700&family=Rubik+Dirt&family=Rubik+Puddles&family=Sacramento&family=Source+Code+Pro:wght@500;600;700;800&family=Special+Elite&family=Tilt+Prism&family=Tsukimi+Rounded&family=Vibur&family=Yanone+Kaffeesatz:wght@400;500&family=Ysabeau:wght@300;500&display=swap');

/* 
font-family: 'Amatic SC', cursive;
font-family: 'Big Shoulders Inline Display', cursive;
font-family: 'Bodoni Moda', serif;
font-family: 'Bree Serif', serif;
font-family: 'Bungee Spice', cursive;
font-family: 'Cherry Bomb One', cursive;
font-family: 'Cormorant', serif;
font-family: 'Dancing Script', cursive;
font-family: 'Dosis', sans-serif;
font-family: 'Foldit', cursive;
font-family: 'Great Vibes', cursive;
font-family: 'Grechen Fuemen', cursive;
font-family: 'Instrument Serif', serif;
font-family: 'Josefin Slab', serif;
font-family: 'Kalam', cursive;
font-family: 'Miltonian', cursive;
font-family: 'Miltonian Tattoo', cursive;
font-family: 'Mogra', cursive;
font-family: 'Moirai One', cursive;
font-family: 'Monomaniac One', sans-serif;
font-family: 'Oi', cursive;
font-family: 'Parisienne', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Rajdhani', sans-serif;
font-family: 'Rubik Dirt', cursive;
font-family: 'Rubik Puddles', cursive;
font-family: 'Sacramento', cursive;
font-family: 'Source Code Pro', monospace;
font-family: 'Special Elite', cursive;
font-family: 'Tilt Prism', cursive;
font-family: 'Tsukimi Rounded', sans-serif;
font-family: 'Vibur', cursive;
font-family: 'Yanone Kaffeesatz', sans-serif;
font-family: 'Ysabeau', sans-serif;
*/